{% extends "layout.html" %}
{% block title %}Flask Against Humanity{% endblock %}

{% block content %}
<div class="row">
	<div class="span6 offset2">
		<h1 class="spruik">Flask Against Humanity</h1>
		<p>
			Have you ever played a game of <i>Cards Against Humanity</i>?
		</p>
		<p>
			Yes? No? Maybe-so?<br>
			Never fear! <i>Flask Against Humanity</i> is here to save the day.
			Designed from the bottom up with <b>spicy memes</b> in mind, <i>FAH</i>
			is one lean, green, meme-machine.
		</p>
		<p>
			Guaranteed to rustle some jimmies<sup>*</sup>.
		</p>
		<p>
			<small class="fine-print">
				<sup>*</sup> Not an actual guarantee.
			</small>
		</p>
		<hr>
		<p>
			To start a game, or to join an existing game, simply enter the room
			name, over to the right, then press <i>Join!</i>.<br>
			If you haven't chosen a handle recently, you'll be prompted to pick
			one when you join a room.
		</p>
	</div>
	<div class="span6">
		<form class="form-horizontal" role="form" method="POST" action="{{ url_for('.room_rd') }}" data-toggle="validator">
			<div class="form-group">
				<div class="control-group">
					<label class="control-label" for="room">Room</label>
					<div class="controls">
						<input type="text" name="room" placeholder="xyzzy" required>
						<span class="help-block with-errors"></span>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="control-group">
					<div class="controls">
						<button type="submit" class="btn btn-primary">
							Join!
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}
