<!DOCTYPE html>
<html lang="en">
	<head>
	{% block head %}
	<title>{% block title %}{% endblock %} :: Flask Against Humanity</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link id="page-styles" href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" media="screen">

	<link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='less/base.less') }}" />
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.2.0/less.min.js"></script>
	{% endblock %}
	</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="x-margin">
				<a class="brand" href="{{ url_for('index') }}">Flask Against Humanity</a>
				<ul class="nav">
					<li class="active"><a href="{{ url_for('index') }}">Home</a></li>
					<li class="x-in-game"><a href="#">IN GAME</a></li>
				</ul>
				<ul class="nav pull-right x-in-game">
					<li class="disabled">
						<a tabindex="-1" href="#"><i id="x-room-name"><!-- xyzzy --></i></a>
					</li>
					<li class="dropdown">
						<a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
							<span class="x-handle"><!-- John Smith --></span> <b class="caret"></b>
						</a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
							<li role="presentation">
								<a role="button" data-toggle="modal" tabindex="-1" href="#handleModal">Change handle</a>
							</li>
							<li role="presentation">
								<a role="button" data-toggle="modal" tabindex="-1" href="#shareModal">Share room link</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<noscript>
		It looks like you don't have JavaScript enabled.<br>
		Good luck playing FAH without it, buddy.
	</noscript>
	{% block content %}
	{% endblock %}

	{% block js %}
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/validator.min.js') }}"></script>
	<script type="text/javascript">
		xyzzy = {}; // decent variable name/10
		xyzzy.room = $('meta[name=x-room]').attr('content');
		xyzzy.handle = $('meta[name=x-handle]').attr('content');
		xyzzy.socket = null;
		xyzzy.connect = function () {
			var socket = xyzzy.socket = io.connect(('https:' == document.location.protocol ? 'https://' : 'http://') + document.domain + ':' + location.port);
			socket.on("connect", function () {
				console.log("xyzzy: Connected to server!");
			});
			return socket;
		};
		xyzzy.join = function (room, force) {
			// If force == false, this just lets you change rooms.
			if (room == xyzzy.room && !force) {
				// Rejoining? Uh.. Nope?
				return;
			}

			// Bail from current room.
			console.log("xyzzy: Leaving room", xyzzy.room);
			xyzzy.socket.emit("leave", {room: xyzzy.room});

			// Update and join the new one.
			xyzzy.room = room;
			console.log("xyzzy: Joining room", xyzzy.room);
			xyzzy.socket.emit("join", {handle: xyzzy.handle, room: xyzzy.room});
		};
		xyzzy.changeHandle = function (new_, local) {
			if (new_ == xyzzy.handle) {
				return;
			}
			console.log("xyzzy: Changing handle from", xyzzy.handle, "to", new_);
			xyzzy.handle = new_;

			$(".x-handle").text(xyzzy.handle);
			$(".x-handle-value").val(xyzzy.handle);
			if (!local && xyzzy.socket !== null) {
				xyzzy.socket.emit("handle.change", {handle: xyzzy.handle});
			}
		};
		xyzzy.geocities = function geocities(on) {
			var x = "{{ url_for('static', filename='css/geo.bootstrap.min.css') }}",
				y = "{{ url_for('static', filename='css/bootstrap.css') }}";
			var $z = $("#page-styles");
			if (on) {
				console.log("GEOCITIES ACTIVATED :)");
				$z.attr("href", x);
				$("html").addClass("geocities");
			} else { //$z.attr("href") == x) {
				console.log("GEOCITIES DISABLED :(");
				$z.attr("href", y);
				$("html").removeClass("geocities")
			}
		}
	</script>
	{% endblock %}
</body>
</html>
