{% extends "layout.html" %}
{% block title %}{{ room }}{% endblock %}

{% block head %}
	{{ super() }}

	<meta name="x-room" content="{{ room | escape }}" />
	{% if user.handle == None %}
		<meta name="x-handle" content="" />
	{% else %}
		<meta name="x-handle" content="{{ user.handle | escape }}" />
	{% endif %}
{% endblock %}

{% block content %}
<div id="handleModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 class="dark">Change handle</h3>
	</div>
	<div class="modal-body">
		<p class="first-time-p">
			Before you join this game, you must choose a handle!
		</p>

		<form id="handleForm" class="form-horizontal" role="form" method="POST" action="" data-toggle="validator">
			<div class="form-group">
				<div class="control-group">
					<label class="control-label" for="handle">Handle</label>
					<div class="controls">
						<input class="x-handle-value" type="text" name="handle" placeholder="John Smith" required>
						<span class="help-block with-errors"></span>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="control-group">
					<div class="controls">
						<button type="submit" class="btn btn-primary">
							Change
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<div id="shareModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 class="dark">Share room link</h3>
	</div>
	<div class="modal-body">
		<input id="shareModalLink" type="text" value="{{ url_for('roomx', name=room, _external=True) }}" readonly>
		<p>
			Give your friend the above link so they can join you!
		</p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
</div>

<div id="expacModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 class="dark">Select your expansions</h3>
	</div>
	<div class="modal-body" id="expansion-list">
		{% for expansion in expansions %}
			{% if expansion.ident == "alternia" %}
				<hr>
				<h3 class="dark">Unofficial decks</h3>
				<hr>
			{% endif %}

			<div class="expansion">
				<div class="expansion-name">
					{{ expansion.name }}
					<small class="deck-info">({{ expansion.black_cards | length }} black, {{ expansion.white_cards | length }} white)</small>
					<button class="btn btn-primary pull-right" data-expac="{{ expansion.ident }}">+</button>
				</div>
				<small class="expansion-desc fine-print">{{ expansion.description }}</small>
			</div>
		{% endfor %}
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
</div>

<div id="disconnectModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-header">
		<h3 class="dark">Houston, we've had a problem.</h3>
	</div>
	<div class="modal-body">
		<p>
			Something happened, and we don't know what.
		</p>
		<p>
			Maybe it was gremlins sneaking into our server cabinet again.<br>
			Pesky little things.
		</p>
		<p>
			All that matters is you can't play right now.<br>
			Sit tight and we'll have this solved <i>eventually</i>.
		</p>

		<hr>

		<h4 class="dark">Hint!</h4>
		<p>
			This window will disappear when FAH reconnects.
		</p>
		<div class="x-super-long hide">
			<p>
				This is taking a while.. If you want, mash this button like it
				owes you money. It might do something.
			</p>
			<button id="x-super-long" class="btn btn-primary">
				Reconnect
			</button>
		</div>
	</div>
</div>

<div class="row">
	<div class="span3">
		<div id="x-current-question" class="x-card question">
			<div class="x-card-body">
				______. That's how I want to die.
			</div>
		</div>
	</div>
	<div class="span9">
		<div id="x-played-cards">
			<div class="x-card trump">
				<span class="x-card-body">The biggest, blackest dick.</span>
			</div>

			<div class="x-card answer">
				<span class="x-card-body">Swiftly achieving orgasm.</div>
			</div>

			<div class="x-card answer">
				<span class="x-card-body">Memes.</span>
			</div>

			<div class="x-card answer">
				<span class="x-card-body">Bees?</span>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
	{{ super() }}
	<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>

	<script type="text/javascript" charset="utf-8">
		$(function () {
			socket = xyzzy.connect();
			var $hM = $("#handleModal");
			var __ADMIN_TRIPS = {{ ADMIN_TRIPS | safe }};

			function _local_join() {
				$("html").addClass("in-game");
				$hM.removeClass("first-time");
				$hM.modal({keyboard: true, backdrop: true}); // fix it up
				xyzzy.join(xyzzy.room, true, true);
			}

			// Just in case.
			xyzzy.socket.on("disconnect", function () {
				console.log("xyzzy: Disconnected! Modal inbound.");
				$("html").removeClass("in-game");
				$("#disconnectModal").modal({keyboard: false, backdrop: 'static'});
			});
			xyzzy.socket.on("connect", function () {
				xyzzy.socket.emit("connect");
				$("#disconnectModal").modal('hide');
			});
			xyzzy.socket.on("reconnecting", function (n) {
				console.log("xyzzy: Reconnect attempt", n);
				if (n >= 64000) {
					console.log("xyzzy: Enabling mashy-mashy button.");
					$(".x-super-long").removeClass("hide");
				}
			});

			// These ones affect us.
			xyzzy.socket.on("player.force-refresh", function () {
				console.log("xyzzy: forcefully refreshing")
				window.location = window.location;
			});
			xyzzy.socket.on("player.force-handle", function (data) {
				if ($hM.hasClass("first-time")) {
					xyzzy.changeHandle(data.handle, true);
					_local_join();
					$hM.modal('hide');
				} else {
					xyzzy.changeHandle(data.handle, true);
				}
				console.log("xyzzy: forced name change to '%s'", data.handle);
			});
			xyzzy.socket.on("player.uuid", function (data) {
				xyzzy.uuid = data.uuid;
				console.log("xyzzy: my uuid '%s'", data.uuid);
			});

			// These concern other players.
			var _player_join = function (data) {
				if (__ADMIN_TRIPS.indexOf(data.trip) > -1) {
					xyzzy.admins[data.uuid] = true;
					xyzzy.geocities(true);
				}

				xyzzy.members[data.uuid] = {
					handle: data.handle,
					trip: data.trip
				};
				console.log("xyzzy: player '%s#%s' joined (%s)", data.handle, data.trip, data.uuid);
			};
			xyzzy.socket.on("player.join", _player_join);
			xyzzy.socket.on("player.joins", function (data) {
				data.forEach(_player_join);
			});
			xyzzy.socket.on("player.leave", function (data) {
				console.log("xyzzy: player '%s' left (%s)", xyzzy.members[data.uuid].handle, data.uuid);
				delete xyzzy.members[data.uuid];
				delete xyzzy.admins[data.uuid];

				if (Object.keys(xyzzy.admins).length < 1) {
					xyzzy.geocities(false);
				}

			});
			xyzzy.socket.on("player.name-change", function (data) {
				if (data.uuid == xyzzy.uuid) {
					return;
				}

				console.log("xyzzy: player '%s' renamed to '%s'", xyzzy.members[data.uuid].handle, data.handle);
				xyzzy.members[data.uuid].handle = data.handle;
				xyzzy.members[data.uuid].trip = data.trip;
			});
			// Super shitty debugging shit.
			xyzzy.socket.on("__users", function (data) {
				console.log("xyzzy __users:", data);
			});
			xyzzy.socket.on("__room", function (data) {
				console.log("xyzzy __room:", data);
			});

			$("#x-super-long").click(function (e) {
				console.log("xyzzy: Trying to reconnect with mashy-mashy button.");
				xyzzy.socket.socket.connect();
				e.preventDefault();
			});

			$("#handleForm").submit(function (e) {
				var $h = $("#handleModal"),
					local = $h.hasClass("first-time");

				var newHandle = $("#handleForm .x-handle-value").val();
				xyzzy.changeHandle(newHandle, false);

				if (local) {
					_local_join();
				}


				$("#handleModal").modal('hide');
				e.preventDefault();
				return false;
			});

			$("#x-room-name").text(xyzzy.room);
			$(".x-handle").text(xyzzy.handle);
			$(".x-handle-value").val(xyzzy.handle);

			if (xyzzy.handle == "") {
				// TODO: hang until handleModal gets given a nick
				$("#handleModal").addClass("first-time").modal({
					keyboard: false,
					backdrop: 'static'
				});
				return;
			} else {
				$("html").addClass("in-game");
				xyzzy.socket.on('connect', function() {
					xyzzy.join(xyzzy.room, true);
				});
			}

		});
	</script>
{% endblock %}
