{% extends "layout.html" %}
{% block title %}{{ room }}{% endblock %}

{% block head %}
	{{ super() }}

	<meta name="x-room" content="{{ room | escape }}" />
	<meta name="x-handle" content="{{ handle | escape }}" />
{% endblock %}

{% block content %}
<div id="handleModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 class="dark">Change handle</h3>
	</div>
	<div class="modal-body">
		<p class="first-time-p">
			Before you join this game, you must choose a handle!
		</p>

		<form id="handleForm" class="form-horizontal" role="form" method="POST" action="" data-toggle="validator">
			<div class="form-group">
				<div class="control-group">
					<label class="control-label" for="handle">Handle</label>
					<div class="controls">
						<input class="x-handle-value" type="text" name="handle" placeholder="John Smith" required>
						<span class="help-block with-errors"></span>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="control-group">
					<div class="controls">
						<button type="submit" class="btn btn-primary">
							Change
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<div id="shareModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 class="dark">Share room link</h3>
	</div>
	<div class="modal-body">
		<input id="shareModalLink" type="text" value="{{ url_for('room', name=room, _external=True) }}" readonly>
		<p>
			Give your friend the above link so they can join you!
		</p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
</div>

<div id="disconnectModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-header">
		<h3 class="dark">Houston, we've had a problem.</h3>
	</div>
	<div class="modal-body">
		<p>
			Something happened, and we don't know what.
		</p>
		<p>
			Maybe it was gremlins sneaking into our server cabinet again.<br>
			Pesky little things.
		</p>
		<p>
			All that matters is you can't play right now.<br>
			Sit tight and we'll have this solved <i>eventually</i>.
		</p>

		<hr>

		<h4 class="dark">Hint!</h4>
		<p>
			This window will disappear when FAH reconnects.
		</p>
		<div class="x-super-long hide">
			<p>
				This is taking a while.. If you want, mash this button like it
				owes you money. It might do something.
			</p>
			<button id="x-super-long" class="btn btn-primary">
				Reconnect
			</button>
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
	{{ super() }}
	<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>

	<script type="text/javascript" charset="utf-8">
		$(function () {
			xyzzy.connect();

			// Just in case.
			xyzzy.socket.on("disconnect", function () {
				console.log("xyzzy: Disconnected! Modal inbound.");
				$("html").removeClass("in-game");
				$("#disconnectModal").modal({keyboard: false, backdrop: 'static'});
				$("#disconnectModal").modal('show');
			});
			xyzzy.socket.on("connect", function () {
				console.log("xyzzy: Connected!");
				$("html").addClass("in-game");
				$("#disconnectModal").modal('hide');
			});
			xyzzy.socket.on("reconnecting", function (n) {
				console.log("xyzzy: Reconnect attempt", n);
				if (n >= 64000) {
					console.log("xyzzy: Enabling mashy-mashy button.");
					$(".x-super-long").removeClass("hide");
				}
			});

			$("#x-super-long").click(function (e) {
				console.log("xyzzy: Trying to reconnect with mashy-mashy button.");
				xyzzy.socket.socket.connect();
				e.preventDefaults();
			});

			$("#handleForm").submit(function (e) {
				var $h = $("#handleModal"),
					local = $h.hasClass("first-time");

				var newHandle = $("#handleForm .x-handle-value").val();
				xyzzy.changeHandle(newHandle, local);

				if (local) {
					$("html").addClass("in-game");
					$h.removeClass("first-time");
					$h.modal({keyboard: true, backdrop: true}); // fix it up
					xyzzy.join(xyzzy.room, true);
				}


				$("#handleModal").modal('hide');
				e.preventDefault();
			});

			$("#x-room-name").text(xyzzy.room);
			$(".x-handle").text(xyzzy.handle);
			$(".x-handle-value").val(xyzzy.handle);

			if (xyzzy.handle == "") {
				// TODO: hang until handleModal gets given a nick
				$("#handleModal").addClass("first-time").modal({
					keyboard: false,
					backdrop: 'static'
				});
				return;
			} else {
				$("html").addClass("in-game");
				xyzzy.socket.on('connect', function() {
					xyzzy.join(xyzzy.room, true);
				});
			}

		});
	</script>
{% endblock %}
