body {
	padding: 0;
	padding-top: 40px;

	margin: 0 auto;
}

html.geocities body {
	padding-top: 80px;
}

.x-margin {
	margin-left: 20px;
	margin-right: 20px;
}

.dropdown-menu {
	top: 40px;
}

.caret {
	position: relative;
	left: -7px; // hack central
}
